@use '../utilities' as *;

.btn {
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: $fw-700;
	font-size: $fs-200;
	display: inline-block;
	position: relative;
	font-family: $ff-serif;

	// call-to-action button styles starts here
	&--cta {
		text-transform: uppercase;
		border-radius: $radius-large;
		color: $clr-brand-dark;
		padding: $gap-50 * 1em $gap-150 * 1em;
		background-color: $clr-brand-light;
		transition: transform 150ms;

		&::after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 100%;
			border-radius: $radius-small;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transition: all 450ms;
		}

		&:hover {
			transform: translateY(-2px);
			box-shadow: 0px 0px 5px $clr-brand-light;

			&::after {
				background-color: $clr-brand-light;
				transform: scaleX(1.25) scaleY(1.5);
				opacity: 0;
			}
		}

		&:active {
			transform: translateY(-1px);
			box-shadow: 0px 0px 20px rgba($clr-brand, 0.7);
		}
	}
}

.btn--animated {
	@include key-frames(moveInBottom, 1.5s, 500ms);
	animation-fill-mode: backwards;
}

.btn--see-more {
	color: $clr-dark;
	border: 2px solid $clr-dark;
	border-radius: $radius-small;
	padding: $gap-25 * 1em $gap-100 * 1em;
	box-shadow: 0px 0px 20px rgba($clr-brand-dark, 0.4);
	transition: all 650ms;
	margin-top: $gap-300 * 1rem;

	&:hover {
		background-color: $clr-dark;
		color: $clr-white;
	}
}
