$clr-brand: hsl(182, 100%, 45%);
$clr-brand-op: hsla(182, 100%, 45%, 0.7);
$clr-brand-light: hsl(182, 100%, 90%);
$clr-brand-dark: hsl(182, 100%, 10%);
$clr-purple: hsl(302, 100%, 45%);
$clr-purple-dark: hsl(302, 100%, 30%);
$clr-yellow: hsl(62, 100%, 45%);
$clr-white: hsl(0, 0%, 95%);
