$clr-brand: hsl(182, 100%, 45%);
$clr-brand-light: hsl(182, 100%, 90%);
$clr-brand-dark: hsl(182, 100%, 20%);

$clr-purple: hsl(302, 100%, 45%);
$clr-purple-light: hsl(302, 100%, 80%);
$clr-purple-dark: hsl(302, 100%, 30%);

$clr-yellow: hsl(62, 100%, 45%);

$clr-white: hsl(0, 0%, 95%);
$clr-dark: hsl(182, 85%, 5%);
