@mixin flex($jc, $ai, $flex-dir: null, $gap: null) {
	display: flex;

	@if $flex-dir == column {
		flex-direction: $flex-dir;
	}

	justify-content: $jc;
	align-items: $ai;

	@if $gap != null {
		gap: $gap;
	}
}
