@use '../utilities' as *;

h1,
h2,
h3 {
	font-weight: $fw-700;
	color: $clr-brand-dark;
	font-family: $ff-serif;
}

p {
	font-weight: $fw-500;
	font-family: $ff-sans;
	max-width: 65ch;
}

.heading-wrapper {
	text-align: center;
}

.heading-primary {
	color: $clr-white;
}

.heading-primary__main {
	font-size: $fs-heading-primary__main;
	font-weight: $fw-700;
}

.heading-primary__sub {
	font-family: $ff-sans;
	font-weight: $fw-500;
	font-size: $fs-heading-primary__sub;
	letter-spacing: 2px;
}
