@use '../utilities/' as *;

.section-about {
	background: linear-gradient(
		to bottom,
		rgba($clr-brand-dark, 0.85),
		rgba($clr-brand, 0.35)
	);
	margin-top: -7.5vh;
	padding-top: calc(7.5vh + $gap-400 * 1rem);

	&__title {
		background-image: linear-gradient(to right, $clr-purple-light, $clr-white);
		display: inline-block;
		background-clip: text;
		color: transparent;
		transition: all 200ms;

		&:hover {
			transform: translateX(10px) skewY(5deg) scale(1.05);
			text-shadow: 5px 5px 15px rgba($clr-purple-dark, 0.4);
		}
	}
}
