$colors: (
	primary: (
		100: hsl(174, 74%, 80%),
		200: hsl(174, 71%, 68%),
		300: hsl(174, 70%, 50%),
		400: hsl(174, 100%, 32%),
		500: hsl(174, 100%, 20%),
		600: hsl(174, 100%, 15%),
	),
	secondary: (
		100: hsl(218, 74%, 84%),
		200: hsl(219, 72%, 72%),
		300: hsl(220, 71%, 54%),
		400: hsl(219, 83%, 36%),
		500: hsl(219, 89%, 24%),
	),
	tertiary: (
		100: hsl(9, 100%, 89%),
		200: hsl(9, 100%, 77%),
		300: hsl(9, 100%, 59%),
		400: hsl(9, 100%, 41%),
		500: hsl(9, 100%, 29%),
	),
	accent: (
		100: hsl(53, 100%, 89%),
		200: hsl(53, 100%, 77%),
		300: hsl(53, 100%, 59%),
		400: hsl(53, 100%, 41%),
		500: hsl(53, 100%, 29%),
	),
	ui: (
		100: hsl(180, 2%, 91%),
		200: hsl(180, 3%, 46%),
		300: hsl(180, 18%, 11%),
		400: hsl(180, 19%, 6%),
		500: hsl(180, 20%, 2%),
	),
	transparent: (
		90: hsla(180, 20%, 2%, 90%),
		70: hsla(180, 20%, 2%, 70%),
		50: hsla(180, 20%, 2%, 50%),
		30: hsla(180, 20%, 2%, 30%),
		10: hsla(180, 20%, 2%, 10%),
	),
);

