$type-scale: (
	// minor-third
	// multipliers above h2: 1.2*3, 1.2*4
	phone:
		(
			h1: 4.3rem,
			list-nr: 3.58rem,
			h2: 2.074rem,
			h3: 1.728rem,
			h4: 1.44rem,
			large: 1.2rem,
			regular: 1rem,
			small: 0.8rem,
		),
	// multipliers above h2: 1.2*4, 1.2*10
	desktop:
		(
			h1: 16.049rem,
			tagline: 3.732rem,
			list-nr: 5.375rem,
			h2: 2.592rem,
			h3: 2.16rem,
			h4: 1.8rem,
			large: 1.5rem,
			regular: 1.25rem,
			small: 1.042rem,
		)
);

$font-weight: (
	200: 200,
	400: 400,
	500: 500,
	600: 600,
);

