.secondary-page-content {
	margin-inline: auto;
	width: 100%;
	max-width: 65ch;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding-block-start: var(--rem-spacing-800);
	margin-block-end: var(--rem-spacing-500);
	padding-inline: var(--page-padding-phone);
}

.container:not(:last-child) {
	margin-block-end: var(--rem-spacing-400);
}

.blog-title {
	margin-block-end: calc(1ex / 2);
}

.blog-title a {
	color: var(--clr-primary-500);
	text-decoration-color: transparent;

	&:hover {
		text-decoration-color: var(--clr-primary-500);
	}
}

.blog-title a[class='author'] {
	color: var(--bg-color);

	&:hover {
		color: var(--text-color);
		background-color: var(--clr-secondary-100);
	}
}

.author {
	background-color: var(--clr-secondary-500);
	padding: var(--em-spacing-25) var(--em-spacing-50);
	border-radius: var(--rad-25);
	color: var(--bg-color);
	transition: all 150ms;
	display: inline-block;

	&:hover {
		color: var(--text-color);
		background-color: var(--clr-secondary-100);
	}

	&:focus {
		outline: 2px solid var(--clr-accent-300);
		outline-offset: -4px;
	}
}

.categories {
	display: flex;
	gap: var(--em-spacing-25);
	margin-block-end: var(--em-spacing-50);

	&.margin-extra {
		margin-block-end: var(--em-spacing-150);
	}
}

li {
	list-style-type: none;
}

.category {
	text-decoration: none;

	background-color: var(--clr-accent-200);
	color: var(--text-color);
	padding: var(--em-spacing-25);
	border-radius: var(--rad-25);
	transition: opacity 150ms;

	&:hover {
		background-color: var(--bg-color);
		opacity: 0.8;
	}
}

.blog-link {
	text-decoration: none;
}

.blog-image {
	margin-block-end: var(--em-spacing-50);
}

a[class*='btn'] {
	box-shadow: 1px 1px 10px var(--clr-transparent-30);

	&:hover {
		translate: 1px 2px;
	}
}

.container > :last-child {
	margin-block-start: var(--rem-spacing-200);
	margin-inline: auto;
}

small {
	font-weight: 200;
	font-size: clamp(var(--fs-phone-regular), 1.45vw, var(--fs-desktop-regular));
}

small a {
	padding: calc(var(--em-spacing-25) / 6) var(--em-spacing-50) !important;
}

