---
// components import
import SecondaryLayout from '../layouts/SecondaryLayout.astro';
import BreadcrumbNavigation from '../components/BreadcrumbNavigation.astro';
import { BreadcrumbsItem } from 'accessible-astro-components';

// assets import
import * as Aviso from '../../src/content/legal/aviso-legal.md';
---

<SecondaryLayout title={Aviso.frontmatter.title}>
	<div class="secondary-page-content">
		<h1>{Aviso.frontmatter.title}</h1>

		<BreadcrumbNavigation>
			<BreadcrumbsItem href="/" label="Inicio" />
			<BreadcrumbsItem label=`${Aviso.frontmatter.title}` currentPage={true} />
		</BreadcrumbNavigation>

		<main>
			<Aviso.Content />
		</main>
	</div>
</SecondaryLayout>
