---
import Layout from '../layouts/Layout.astro';
import CtaCard from '../components/CtaCard.astro';
import ServiceCards from '../components/ServiceCards.astro';
import WorkflowCards from '../components/WorkflowCards.astro';
import ContactForm from '../components/ContactForm.astro';

import { Image } from 'astro:assets';
import formBackground from '../assets/form-background.jpg';
---

<Layout
	title="MimaTe"
	headline="Alire"
	tagline="Cuerpo, Alma y Energía en Equlibrio"
	isSecondaryPage={false}>
	<main>
		<section class="cta-icon-section section">
			<h2 class="section-title">Decisiones sencillas para tu bienestar</h2>

			<ul class="flex-container">
				<CtaCard
					title="Come de manera equilibrada"
					bgImageFallback="leafy-veggie.jpg"
					bgImageAVIF="leafy-veggie.avif"
					bgImageWEBP="leafy-veggie.webp"
				/>
				<CtaCard
					title="Mejora tu postura"
					bgImageFallback="stones.jpg"
					bgImageAVIF="stones.avif"
					bgImageWEBP="stones.webp"
				/>
				<CtaCard
					title="Adquiere hábitos saludables"
					bgImageFallback="train-track.jpg"
					bgImageAVIF="train-track.avif"
					bgImageWEBP="train-track.webp"
				/>
				<CtaCard
					title="Siéntete más feliz"
					bgImageFallback="melon-face.jpg"
					bgImageAVIF="melon-face.avif"
					bgImageWEBP="melon-face.webp"
				/>
			</ul>

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section class="intro-section section">
			<h2 class="section-title">Un enfoque integral</h2>
			<div class="flex-container">
				<p>
					En Alire, estamos dedicados a ayudarte a alcanzar la armonía en todos
					los aspectos de tu vida. Nuestro enfoque combina los beneficios de la
					terapia de masaje, nutrición personalizada y la bienestar a través de
					la tecnica biomagnética, asegurando que tu cuerpo, mente y energía
					estén alineados.
				</p>
				<p>
					Si buscas aliviar la tensión física, equilibrar tu dieta o restaurar
					el flujo de energía en tu cuerpo, nuestros servicios están diseñados
					para satisfacer tus necesidades únicas. Permítenos guiarte en tu
					camino hacia un tú más saludable y equilibrado.
				</p>
			</div>

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section id="tratamientos" class="services-section section">
			<h2 class="section-title">Cuidado Holístico</h2>
			<div class="flex-container">
				<ServiceCards />
			</div>

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section class="section workflow-section">
			<h2 class="section-title">Como trabajamos</h2>
			<WorkflowCards />

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section id="contacto" class="section form-section">
			<Image src={formBackground} alt="" class="background-image" />
			<ContactForm />
		</section>
		<div class="linear-divider"></div>
	</main>
</Layout>

<style>
	.section {
		padding-inline: var(--page-padding-phone);
		padding-block: var(--section-padding-phone);
	}

	.flex-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--rem-spacing-200);

		padding: 0;
	}

	.section-title {
		font-family: Merienda;
		font-size: clamp(var(--fs-phone-h2), 3vw, var(--fs-desktop-h2));

		font-weight: 200;
		text-transform: capitalize;
		text-align: center;
	}

	.page-motif {
		margin: 2rem auto 0;
	}

	.intro-section .flex-container {
		gap: unset;
	}

	.workflow-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.form-section {
		position: relative;
	}

	/* 40.875em = 654px */
	@media screen and (min-width: 40.875em) {
		.workflow-section {
			align-items: stretch;
		}
	}

	/* 57.5em = 920px */
	@media screen and (min-width: 57.5em) {
		.workflow-section {
			align-items: center;
		}
	}

	.linear-divider {
		height: 25vh;
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		background-color: var(--clr-primary-200);
		background-image: linear-gradient(
			-45deg,
			var(--clr-ui-600) 0%,
			var(--clr-primary-600) 15%,
			var(--clr-primary-500) 25%,
			var(--clr-primary-400) 32.5%,
			var(--clr-primary-300) 40%,
			var(--clr-primary-100) 50%,
			var(--clr-primary-300) 60%,
			var(--clr-primary-400) 67.5%,
			var(--clr-primary-500) 75%,
			var(--clr-primary-600) 85%,
			var(--clr-ui-600) 100%
		);

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
</style>
