---
// components import
import Layout from '../layouts/Layout.astro';
import CtaCards from '../components/CtaCards.astro';
import ServiceCards from '../components/ServiceCards.astro';
import WorkflowCards from '../components/WorkflowCards.astro';
import ContactForm from '../components/ContactForm.astro';
import { Image } from 'astro:assets';

// assets import
import formBackground from '../assets/form-background.jpg';
---

<Layout
	title="MimaTe"
	headline="Alire"
	tagline="Cuerpo, Alma y Energía en Equlibrio">
	<main>
		<section class="cta-icon-section section">
			<h2 class="section-title">Decisiones sencillas para tu bienestar</h2>

			<ul class="flex-container">
				<CtaCards />
			</ul>

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section class="intro-section section">
			<h2 class="section-title">Un enfoque integral</h2>
			<div class="flex-container">
				<p>
					En Alire, estamos dedicados a ayudarte a alcanzar la armonía en todos
					los aspectos de tu vida. Nuestro enfoque combina los beneficios de la
					terapia de masaje, nutrición personalizada y la bienestar a través de
					la tecnica biomagnética, asegurando que tu cuerpo, mente y energía
					estén alineados.
				</p>
				<p>
					Si buscas aliviar la tensión física, equilibrar tu dieta o restaurar
					el flujo de energía en tu cuerpo, nuestros servicios están diseñados
					para satisfacer tus necesidades únicas. Permítenos guiarte en tu
					camino hacia un tú más saludable y equilibrado.
				</p>
			</div>

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section id="tratamientos" class="services-section section">
			<h2 class="section-title">Cuidado Holístico</h2>
			<div class="flex-container">
				<ServiceCards />
			</div>

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section class="section workflow-section">
			<h2 class="section-title">Como trabajamos</h2>
			<WorkflowCards />

			<img class="page-motif" src="/logos/motif-dark.svg" alt="" />
		</section>

		<section id="contacto" class="section form-section">
			<Image
				src={formBackground}
				alt=""
				aria-hidden="true"
				widths={[800, 1200, 1600, 2000, 3000]}
				sizes={`(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width:2000px) 2000px, (min-width: 2001px) 3000px`}
				decoding="async"
				quality="70"
				loading="lazy"
				class="background-image"
			/>
			<ContactForm />
		</section>
		<div class="linear-divider"></div>
	</main>
</Layout>
