---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MimaTe">
	<main>
		<h1>Alire</h1>
		<p class="tagline">Cuerpo, Alma y Energia en Equlibrio</p>
	</main>

	<style>
		h1 {
			color: var(--clr-primary-300);
			font-family: Laisha;
		}
	</style>
</Layout>
