---
import Layout from '../layouts/Layout.astro';
import CtaCard from '../components/CtaCard.astro';
---

<Layout title="MimaTe">
	<main>
		<section class="cta-icon-section">
			<h2 class="cta-icon-title">Decisiones sencillas para tu bienestar</h2>

			<ul class="cta-card-container">
				<CtaCard
					title="Come de manera equilibrada"
					bgImageFallback="leafy-veggie.jpg"
					bgImageAVIF="leafy-veggie.avif"
					bgImageWEBP="leafy-veggie.webp"
				/>
				<CtaCard
					title="Mejora tu postura"
					bgImageFallback="stones.jpg"
					bgImageAVIF="stones.avif"
					bgImageWEBP="stones.webp"
				/>
				<CtaCard
					title="Adquiere hábitos saludables"
					bgImageFallback="train-track.jpg"
					bgImageAVIF="train-track.avif"
					bgImageWEBP="train-track.webp"
				/>
				<CtaCard
					title="Siéntete más feliz"
					bgImageFallback="melon-face.jpg"
					bgImageAVIF="melon-face.avif"
					bgImageWEBP="melon-face.webp"
				/>
			</ul>
		</section>
	</main>
</Layout>

<style>
	.cta-card-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--rem-spacing-200);

		padding: 0;
	}

	.cta-icon-section {
		padding-inline: var(--page-padding-phone);
		padding-block: var(--section-padding-phone);
	}

	.cta-icon-title {
		font-family: Merienda;
		font-size: var(--fs-phone-h2);
		font-weight: 200;
		text-transform: capitalize;
		text-align: center;
	}
</style>
