---
import * as Cookies from '../../src/content/legal/politica-de-cookies.md';
import Layout from '../layouts/Layout.astro';
---

<Layout title={Cookies.frontmatter.title}>
	<div>
		<h1>{Cookies.frontmatter.title}</h1>
		<Cookies.Content />
	</div>
</Layout>
