---
// components import
import SecondaryLayout from '../layouts/SecondaryLayout.astro';
import BreadcrumbNavigation from '../components/BreadcrumbNavigation.astro';
import { BreadcrumbsItem } from 'accessible-astro-components';

// assets import
import * as Privacidad from '../../src/content/legal/politica-de-privacidad.md';
---

<SecondaryLayout headline={Privacidad.frontmatter.title} title="Alire">
	<div class="secondary-page-content">
		<h1>{Privacidad.frontmatter.title}</h1>

		<BreadcrumbNavigation>
			<BreadcrumbsItem href="/" label="Inicio" />
			<BreadcrumbsItem
				label=`${Privacidad.frontmatter.title}`
				currentPage={true}
			/>
		</BreadcrumbNavigation>

		<main>
			<Privacidad.Content />
		</main>
	</div>
</SecondaryLayout>
