---
// components import
import SecondaryLayout from '../layouts/SecondaryLayout.astro';
import BreadcrumbNavigation from '../components/BreadcrumbNavigation.astro';
import { BreadcrumbsItem } from 'accessible-astro-components';

// assets import
import * as Cookies from '../../src/content/legal/politica-de-cookies.md';
---

<SecondaryLayout headline={Cookies.frontmatter.title} title="Alire">
	<div class="secondary-page-content">
		<h1>{Cookies.frontmatter.title}</h1>

		<BreadcrumbNavigation>
			<BreadcrumbsItem href="/" label="Inicio" />
			<BreadcrumbsItem
				label=`${Cookies.frontmatter.title}`
				currentPage={true}
			/>
		</BreadcrumbNavigation>

		<main><Cookies.Content /></main>
	</div>
</SecondaryLayout>
