---
import * as Cookies from '../../src/content/legal/politica-de-cookies.md';
import Breadcrumb from '../components/Breadcrumb.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title={Cookies.frontmatter.title} showHero={false}>
	<div class="legal-page-content">
		<Breadcrumb />
		<h1>{Cookies.frontmatter.title}</h1>
		<Cookies.Content />
	</div>
</Layout>
