---
import * as Cookies from '../../src/content/legal/politica-de-cookies.md';
import Breadcrumb from '../components/Breadcrumb.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title={Cookies.frontmatter.title} headline={Cookies.frontmatter.title}>
	<main class="legal-page-content">
		<Breadcrumb />
		<Cookies.Content />
	</main>
</Layout>
