@use '../utilities/' as *;

.main-header {
	height: 100vh;
	background-image: linear-gradient(
			to right bottom,
			rgb(0 0 0 / 0.65),
			rgb(0 0 0 / 0.35)
		),
		url(../../../media/img/hero-image.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header__logo-box {
	align-self: flex-start;
}

.main-header__logo {
	height: 100px;
}

.heading-wrapper {
	margin-top: 27vh;
}

.heading-primary {
	@include flex(center, center, column);
	margin-bottom: $gap-400 * 1rem;
}

.heading-primary__main {
	@include key-frames(moveInLeft, 2s);
}

.heading-primary__sub {
	@include key-frames(moveInRight, 2s);
	backface-visibility: hidden;
}
