---
const currentPage = ' current Page';
---

{
	(
		<nav aria-label="Breadcrumb">
			<ul class="breadcrumb-list">
				<li>
					<a href="/">Inicio</a>
					<span class="separator">/</span>
				</li>
				<li aria-current="page">{currentPage}</li>
			</ul>
		</nav>
	)
}

<style>
	.breadcrumb-list {
		list-style-type: none;

		display: flex;
	}

	.separator {
		color: var(--clr-ui-300);
	}

	a {
		padding: var(--em-spacing-50);
	}

	[aria-current='page'] {
		padding-inline-start: var(--em-spacing-50);
	}
</style>
