---
const { isSecondaryPage } = Astro.props;
---

{
	isSecondaryPage && (
		<nav aria-label="Breadcrumb" class="breadcrumb-nav">
			<ul class="breadcrumb-list">
				<li>
					<a href="/">Inicio</a>
					<span class="separator">/</span>
				</li>
				<li aria-current="page" />
			</ul>
		</nav>
	)
}

<style>
	.breadcrumb-nav {
		padding-block-start: min(25vw, 100px);

		& > * {
			margin-inline-start: 0;
		}
	}

	.breadcrumb-list {
		list-style-type: none;
		padding-inline-start: 0;
		color: var(--clr-ui-400);

		display: flex;
	}

	.separator {
		color: var(--clr-ui-300);
	}

	a {
		color: currentColor;
		padding-inline-end: var(--em-spacing-50);
		padding-block: var(--em-spacing-50);
		text-decoration-color: transparent;

		&:hover {
			text-decoration-color: currentColor;
		}
	}

	[aria-current='page'] {
		padding-inline-start: var(--em-spacing-50);
	}
</style>

<script>
	const currentPage = document.querySelector('h1').textContent;
	document.querySelector("[aria-current='page']").textContent = currentPage;
</script>
