---
// components import
import { Image } from 'astro:assets';

// utility import
import type { ImageMetadata } from 'astro';

// assets import
const images = import.meta.glob<{ default: ImageMetadata }>(
	'/src/assets/cta-*.jpg'
);

const imagePaths = Object.keys(images);
const titles = [
	'Come de manera equilibrada',
	'Mejora tu postura',
	'Adquiere hábitos saludables',
	'Siéntete más feliz',
];
---

{
	imagePaths.map(async (path, index) => {
		const resolvedImage = await images[path]?.();
		const title = titles[index];

		return resolvedImage ? (
			<li class="cta-card">
				<Image
					src={resolvedImage.default}
					alt=""
					aria-hidden="true"
					width={resolvedImage.default.width / 2}
					densities={[1.5, 2]}
					decoding="async"
					quality="50"
					loading="eager"
					class="background-image"
				/>
				<h3 class="cta-section-title">{title}</h3>
			</li>
		) : (
			console.log('Image for background not found')
		);
	})
}

<style>
	.cta-card {
		width: 320px;
		aspect-ratio: 1;
		padding: var(--rem-spacing-200) var(--rem-spacing-100);
		border-radius: var(--rad-250);
		overflow: hidden;

		display: flex;
		align-items: end;
		justify-content: center;
		flex: none;
		position: relative;
	}

	.cta-section-title {
		font-family: Merienda;
		color: var(--bg-color);
		font-weight: 200;
		font-size: clamp(var(--fs-phone-h3), 2.15vw, var(--fs-desktop-h3));
		text-align: center;
		text-transform: capitalize;

		margin: auto 0 0 0;
	}
</style>
