---

---

<footer>
	<div class="footer primary">
		<div>
			<a href="/"
				><img
					src="/logos/wordmark-stroke.svg"
					alt=""
					class="footer-logo"
					loading="lazy"
				/></a
			>
		</div>

		<ul class="social-links">
			<li>
				<a href="https://www.facebook.com" target="_blank"
					><img src="/icons/icon-facebook.svg" alt="" loading="lazy" /><span
						class="visually-hidden">Alire en Facebook.</span
					></a
				>
			</li>
			<li>
				<a href="https://www.instagram.com" target="_blank"
					><img src="/icons/icon-instagram.svg" alt="" loading="lazy" /><span
						class="visually-hidden">Alire en Instagram.</span
					></a
				>
			</li>
			<li>
				<a href="https://www.tiktok.com" target="_blank"
					><img src="/icons/icon-tiktok.svg" alt="" loading="lazy" /><span
						class="visually-hidden">Alire en TikTok.</span
					></a
				>
			</li>
		</ul>

		<ul class="legal-links">
			<li><a target="_blank" href="/aviso-legal">Aviso Legal</a></li>
			<li>
				<a target="_blank" href="/politica-de-privacidad"
					>Política de Privacidad</a
				>
			</li>
			<li>
				<a target="_blank" href="/politica-de-cookies">Política de Cookies</a>
			</li>
		</ul>

		<div>
			<p>
				Por favor, ten en cuenta que este negocio no es un centro médico
				autorizado. En su lugar, es un espacio dedicado a ayudar a los
				visitantes a mejorar su bienestar general y calidad de vida. Los
				servicios ofrecidos se centran en el cuidado personal y el apoyo,
				diseñados para promover un sentido de equilibrio y mejora en la vida
				cotidiana.
			</p>
			<p>
				Cualquier consejo o servicio proporcionado no está destinado a
				reemplazar la orientación médica profesional.
			</p>
		</div>
	</div>

	<div class="footer secondary">
		<p>&copy; 2025</p>
		<p class="dev">
			made by&nbsp; &nbsp;
			<a href="https://github.com/mihaly-ale/alire" target="_blank"
				><span class="visually-hidden">Mihaly Ale</span>
				<img
					src="/logos/dev-logo_light-bg.svg"
					alt="Logo Mihaly Ale."
					class="dev-logo"
					loading="lazy"
				/></a
			>
		</p>
	</div>
</footer>
