---

---

<footer>
	<div class="logo-container">
		<a href="/"
			><img src="/logos/wordmark-gradient.svg" alt="" class="footer-logo" /></a
		>
	</div>

	<div class="social-links">
		<a href="https://www.facebook.com" target="_blank"
			><img src="/icons/icon-facebook.svg" alt="" /><span
				class="visually-hidden">Alire en Facebook.</span
			></a
		>
		<a href="https://www.instagram.com" target="_blank"
			><img src="/icons/icon-instagram.svg" alt="" /><span
				class="visually-hidden">Alire en Instagram.</span
			></a
		>
		<a href="https://www.tiktok.com" target="_blank"
			><img src="/icons/icon-tiktok.svg" alt="" /><span class="visually-hidden"
				>Alire en TikTok.</span
			></a
		>
	</div>

	<div class="legal">
		<a class="footer-link" href="">Aviso Legal</a>
		<a class="footer-link" href="">Política de Privacidad</a>
		<a class="footer-link" href="">Política de Cookies</a>
	</div>

	<div>
		<p>
			Por favor, ten en cuenta que este negocio no es un centro médico
			autorizado. En su lugar, es un espacio dedicado a ayudar a los visitantes
			a mejorar su bienestar general y calidad de vida. Los servicios ofrecidos
			se centran en el cuidado personal y el apoyo, diseñados para promover un
			sentido de equilibrio y mejora en la vida cotidiana.
		</p>
		<p>
			Cualquier consejo o servicio proporcionado no está destinado a reemplazar
			la orientación médica profesional.
		</p>
	</div>
</footer>

<style>
	footer {
		color: var(--bg-color);
		background-color: var(--text-color);
		padding: var(--section-padding-phone);
	}
</style>
