---
const { headline, tagline, showHero = true, heroShrunk = false } = Astro.props;
import { Image } from 'astro:assets';
import heroImage from '../content/images/hero-image.jpg';
---

<section class:list={['hero-section', {'hero-shrunk': heroShrunk}]}>
	<h1 class="headline">{headline}</h1>

	{
		showHero && (
			<Image
				src={heroImage}
				alt=""
				aria-hidden="true"
				widths={[800, 1200, 1600, 2000, 3000]}
				sizes={`(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width:2000px) 2000px, (min-width: 2001px) 3000px`}
				decoding="async"
				quality="70"
				loading="eager"
				class="hero-image"
			/>

			<p class="tagline">{tagline}</p>
			<a href="#contacto" class="btn btn-cta">MimaTe</a>)
	}
</section>

<style>
	.hero-section {
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero-shrunk {
		min-height: 0;
		margin-block-start: var(--rem-spacing-200);

	& .headline {
		color: var(--text-color);
		font-weight: var(--fw-600);
		font-family: Poppins;
		font-size: clamp(var(--fs-phone-h2), 3vw, var(--fs-desktop-h2));
		margin-block-end: calc(1ex / 0.72);
	}
}

	32.6875em = 523px
	@media screen and (width <= 523px) {
		.hero-shrunk {
			padding-block-start: var(--rem-spacing-700);
		}
	}

	.hero-image {
		position: absolute;
		inset: 0;
		z-index: -1;
		object-fit: cover;
		filter: brightness(70%);
		width: 100%;
		height: 100%;
	}

	.headline,
	.tagline {
		margin-block-start: 0;
		margin-inline: 0;
		text-align: center;
		color: var(--bg-color);
	}

	.headline {
		font-family: Laisha;
		font-feature-settings: 'salt' 1;
		font-size: clamp(var(--fs-phone-h1), 10vw, var(--fs-desktop-h1));
		font-weight: var(--fw-200);
		margin-block-end: 0;
	}

	.tagline {
		font-size: clamp(var(--fs-phone-h4), 3vw, var(--fs-desktop-tagline));
		font-family: Merienda;
		max-width: 22ch;
		line-height: 1.3;
		margin-block-end: 1em;
	}

	:global(.btn) {
		display: block;
		padding: var(--em-spacing-25) var(--em-spacing-75);
		border-radius: var(--rad-25);
		border: 1px solid currentColor;
		cursor: pointer;
		transition: all 250ms;
		text-decoration: none;
	}

	.btn-cta {
		font-size: clamp(var(--fs-phone-h4), 2vw, var(--fs-desktop-h3));
		color: var(--clr-primary-200);
		background-color: var(--clr-transparent-50);
		letter-spacing: 2px;
		border-width: 2px;

		&:hover {
			background-color: var(--bg-color);
			color: var(--text-color);
		}

		&:active {
			opacity: 0.75;
		}
	}

	:global(.btn-secondary) {
		font-size: clamp(var(--fs-phone-large), 1.45vw, var(--fs-desktop-large));
		color: var(--text-color);
		background-color: var(--clr-primary-200);
		letter-spacing: 2px;
		align-self: flex-start;

		&:hover {
			background-color: var(--clr-primary-300);
		}

		&:active {
			opacity: 0.75;
		}
	}
</style>
