---
const workflowCards = await Astro.glob('../../src/content/workflows/*.md');
---

<ol>
	{
		workflowCards.map((card) => (
			<li class="card">
				<h3 class="card-title">{card.frontmatter.title}</h3>
				<card.Content class="p" />
			</li>
		))
	}
</ol>

<style>
	ol {
		display: flex;
		flex-direction: column;
		gap: var(--rem-spacing-200);
	}

	.card {
		display: flexbox;
		justify-content: center;
		padding-block: var(--em-spacing-100);
	}

	.card-title {
		color: var(--text-xolor);
		font-size: var(--fs-phone-h3);
		font-family: Merienda;
		text-align: center;
		margin: 0;
	}

	.card:nth-child(1) {
		background-color: var(--clr-primary-200);
	}

	.card:nth-child(2) {
		background-color: var(--clr-tertiary-200);
	}

	.card:nth-child(3) {
		background-color: var(--clr-accent-200);
	}

	.card:nth-child(4) {
		background-color: var(--clr-secondary-200);
	}
</style>
