---
// Import custom properties, font-face rules and resets
import '../style/scss/index.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ALIRE | {title}</title>
	</head>

	<header>
		<div class="logo-container">
			<img
				src="../../public/logos/logomark-gradient.svg"
				alt="Alire."
				class="header-logo"
			/>
		</div>
		<button class="nav-menu-toggle">
			<span class="visually-hidden">Menu</span>
			<img
				class="nav-menu-toggle-icon"
				aria-hidden="true"
				src="../../public/icons/icon-menu-open.svg"
				alt=""
			/>
		</button>
		<nav class="navigation">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a href="#" class="nav-link">Inicio</a>
				</li>
				<li class="nav-list-item">
					<a href="#" class="nav-link">Tratamientos</a>
				</li>
				<li class="nav-list-item">
					<a href="#" class="nav-link">Blog</a>
				</li>
				<li class="nav-list-item">
					<a href="#" class="nav-link inverse">Contacto</a>
				</li>
			</ul>
		</nav>
	</header>
	<body>
		<slot />
	</body>

	<style is:global>
		body {
			--text-color: var(--clr-ui-600);

			color: var(--text-color);
			font-family: Poppins;
			font-weight: 400;
			font-size: var(--fs-phone-regular);
		}

		.visually-hidden:not(:focus):not(:active) {
			clip-path: inset(50%);
			height: 1px;
			overflow: hidden;
			position: absolute;
			white-space: nowrap;
			width: 1px;
		}

		/* header styles */
		header {
			--header-spacing-phone: var(--spacing-50);
			--border-radius: 1rem;

			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: var(--header-spacing-phone);
			background-color: var(--clr-primary-200);

			.header-logo {
				height: 4rem;
				flex-shrink: 0;
			}

			.nav-menu-toggle {
				padding: 0;
				margin: 0;
				border: 0;
				background-color: transparent;
			}

			.nav-menu-toggle-icon {
				display: none;
				width: 1rem;
				height: auto;
			}

			.nav-list {
				display: flex;
				gap: var(--header-spacing-phone);
				align-items: center;
				margin: 0;
				padding: 0;
			}

			.nav-list-item {
				list-style: none;
			}

			.nav-link {
				color: inherit;
				text-decoration-color: transparent;
				padding: var(--header-spacing-phone);

				&:focus-visible {
					background-color: var(--clr-primary-100);
					outline: none;
					border-radius: var(--border-radius);
				}

				&:hover {
					text-decoration-color: var(--clr-primary-500);
					text-decoration-thickness: 2px;
				}
			}

			.inverse {
				--text-color: var(--clr-ui-100);

				background-color: var(--clr-primary-500);
				color: var(--text-color);
				border-radius: var(--border-radius);

				&:focus-visible {
					background-color: var(--text-color);
					color: var(--clr-primary-500);
					outline: none;
					border-radius: var(--border-radius);
				}

				&:hover {
					text-decoration-color: var(--text-color);
					text-decoration-thickness: 2px;
				}
			}
		}

		/* 400px */
		@media screen and (max-width: 27.5em) {
			.navigation {
				background-color: var(--clr-primary-200);
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				padding-block: var(--spacing-300);

				transform: translateY(-100%);
			}

			/* FIX Specificity*/
			.nav-list.nav-list {
				flex-direction: column;
				gap: var(--spacing-300);
			}

			header {
				position: relative;
			}

			.nav-menu-toggle {
				position: absolute;
				right: var(--header-spacing-phone);
				cursor: pointer;

				&:hover .nav-menu-toggle-icon {
					opacity: 0.45;
				}

				&:focus-visible {
					scale: 1.05;
				}
			}

			/* FIX Specificity*/
			.nav-menu-toggle-icon.nav-menu-toggle-icon {
				display: block;
				width: 200%;
				transition: opacity 150ms;
			}
		}
	</style>


</html>
