---
import '../styles/index.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logos/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Alire - {title}</title>
	</head>
	<body>
		<header>
			<div class="logo-container">
				<img src="/logos/logomark.svg" alt="Alire." class="header-logo" />
			</div>
			<nav class="navigation">
				<ul class="nav-list">
					<li class="nav-list-item">
						<a href="/" class="nav-link">Inicio</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">Tratamientos</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">Blog</a>
					</li>
					<li class="nav-list-item">
						<a href="#" class="nav-link">Contacto</a>
					</li>
				</ul>
			</nav>
		</header>
		<slot />
	</body>
</html>
<style is:global>
	body {
		--text-color: var(--clr-ui-500);
		--bg-color: var(--clr-ui-100);

		color: var(--text-color);
		font-family: 'Poppins';
		font-weight: var(--fw-400);
		font-size: var(--fs-phone-regular);

		background-color: var(--bg-color);
	}
</style>
