---
import '../styles/index.scss';
import Hero from '../components/Hero.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logos/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Alire - {title}</title>
	</head>

	<body>
		<div class="intro">
			<header>
				<div class="logo-container">
					<img src="/logos/logomark.svg" alt="Alire." class="header-logo" />
				</div>
				<nav class="navigation">
					<ul class="nav-list">
						<li class="nav-list-item">
							<a href="/" class="nav-link">Inicio</a>
						</li>
						<li class="nav-list-item">
							<a href="#" class="nav-link">Tratamientos</a>
						</li>
						<li class="nav-list-item">
							<a href="#" class="nav-link">Blog</a>
						</li>
						<li class="nav-list-item">
							<a href="#" class="contact nav-link">Contacto</a>
						</li>
					</ul>
				</nav>
			</header>

			<Hero headline="Alire" tagline="Cuerpo, Alma y Energía en Equlibrio" />
		</div>

		<slot />
	</body>
</html>
<style is:global>
	body {
		--text-color: var(--clr-ui-500);
		--bg-color: var(--clr-ui-100);

		color: var(--text-color);
		font-family: 'Poppins';
		font-weight: var(--fw-400);
		font-size: var(--fs-phone-regular);

		background-color: var(--bg-color);
	}

	.intro {
		display: flex;
		flex-direction: column;
		min-height: 92.5vh;

		& > * {
			padding-inline: var(--page-padding-phone);
		}
	}

	header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--clr-transparent-50);

		position: absolute;
		width: 100%;
	}

	.logo-container {
		width: 3rem;
		flex: none;
	}

	.header-logo {
		object-fit: fill;
	}

	.nav-list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--em-spacing-50);
		flex-wrap: wrap;
	}

	.nav-list-item {
		list-style: none;
	}

	.nav-link {
		padding: var(--em-spacing-50);
		border-radius: 0.25em;
		font-size: var(--fs-phone-large);
		font-weight: var(--fw-500);
		text-decoration-color: transparent;
		transition: all 150ms;
	}

	[class='nav-link'] {
		color: var(--bg-color);

		&:hover {
			background-color: var(--clr-primary-100);
			color: var(--text-color);
		}
		&:active {
			opacity: 0.9;
		}
	}

	.nav-link.contact {
		background-color: var(--clr-primary-100);

		&:hover {
			background-color: var(--clr-primary-500);
			color: var(--clr-primary-100);
		}

		&:active {
			background-color: var(--clr-primary-600);
		}
	}
</style>
