---
// Import custom properties, font-face rules and resets
import '../style/scss/index.scss';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>ALIRE | {title}</title>
	</head>

	<header>
		<div class="logo-container">
			<img
				src="../../public/logos/logomark-gradient.svg"
				alt="Alire."
				class="header-logo"
			/>
		</div>
		<nav class="navigation">
			<ul class="nav-list">
				<li class="nav-list-item">
					<a href="#" class="nav-link">Inicio</a>
				</li>
				<li class="nav-list-item">
					<a href="#" class="nav-link">Tratamientos</a>
				</li>
				<li class="nav-list-item">
					<a href="#" class="nav-link">Blog</a>
				</li>
				<li class="nav-list-item">
					<a href="#" class="nav-link inverse">Contacto</a>
				</li>
			</ul>
		</nav>
	</header>
	<body>
		<slot />
	</body>

	<style is:global>
		body {
			--text-color: var(--clr-ui-600);

			color: var(--text-color);
			font-family: Poppins;
			font-weight: 400;
			font-size: var(--fs-phone-regular);
		}
		/* header styles */
		header {
			--header-spacing-phone: var(--spacing-50);
			--border-radius: 1rem;

			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: var(--header-spacing-phone);
			background-color: var(--clr-primary-200);

			.header-logo {
				height: 4rem;
				flex-shrink: 0;
			}

			.nav-list {
				display: flex;
				gap: var(--header-spacing-phone);
				align-items: center;
				margin: 0;
				padding: 0;
			}

			.nav-list-item {
				list-style: none;
			}

			.nav-link {
				color: inherit;
				text-decoration-color: transparent;
				padding: var(--header-spacing-phone);

				&:focus-visible {
					background-color: var(--clr-primary-100);
					outline: none;
					border-radius: var(--border-radius);
				}

				&:hover {
					text-decoration-color: var(--clr-primary-500);
					text-decoration-thickness: 2px;
				}
			}

			.inverse {
				--text-color: var(--clr-ui-100);

				background-color: var(--clr-primary-500);
				color: var(--text-color);
				border-radius: var(--border-radius);

				&:focus-visible {
					background-color: var(--text-color);
					color: var(--clr-primary-500);
					outline: none;
					border-radius: var(--border-radius);
				}

				&:hover {
					text-decoration-color: var(--text-color);
					text-decoration-thickness: 2px;
				}
			}
		}
	</style>


</html>
