---
// components import
import Footer from '../components/Footer.astro';

// styles import
import '../styles/index.scss';
import '../styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/logos/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Alire - {title}</title>
	</head>

	<body>
		<header>
			<a href="/">
				<div class="logo-container">
					<img src="/logos/logomark.svg" alt="Alire." class="header-logo" />
				</div>
			</a>
			<button class="nav-toggle-button">
				<span class="visually-hidden">Menu</span>
				<svg
					class="nav-toggle-icon"
					width="32"
					height="20"
					viewBox="0 0 32 20"
					fill="var(--clr-primary-100)"
					xmlns="http://www.w3.org/2000/svg">
					<rect width="32" height="4" rx="2" fill=""></rect>
					<rect y="8" width="32" height="4" rx="2" fill=""></rect>
					<rect y="16" width="32" height="4" rx="2" fill=""></rect>
				</svg>
			</button>
			<nav class="navigation" aria-label="navegación primaria">
				<ul class="nav-list">
					<li class="nav-list-item">
						<a href="/" class="nav-link">Inicio</a>
					</li>
					<li class="nav-list-item">
						<a href="/#tratamientos" class="nav-link">Tratamientos</a>
					</li>
					<li class="nav-list-item">
						<a href="/blog" class="nav-link">Blog</a>
					</li>
					<li class="nav-list-item">
						<a href="/#contacto" class="contact nav-link">Contacto</a>
					</li>
				</ul>
			</nav>
		</header>

		<slot />

		<Footer />
	</body>
</html>

<!-- Toggling mobile navigation -->
<script lang="ts">
	const toggleBtn = document.querySelector('.nav-toggle-button');
	const navbar = document.querySelector('.navigation');
	const toggleIconBars = Array.from(toggleBtn.children[1].children);

	let isNavOpen = false;

	toggleBtn.addEventListener('click', handleClick);

	function handleClick() {
		toggleNav();
		rotateIcon();
	}

	function toggleNav() {
		navbar.classList.toggle('active');
		isNavOpen = !isNavOpen;
	}

	function rotateIcon() {
		toggleIconBars[1].classList.toggle('transformBarTwo');
		toggleIconBars[0].classList.toggle('transformBarOne');
		toggleIconBars[2].classList.toggle('transformBarThree');
	}
</script>
