$colors: (
	primary: (
		100: hsl(174, 70%, 90%),
		200: hsl(174, 70%, 75%),
		300: hsl(174, 70%, 50%),
		400: hsl(174, 70%, 25%),
		500: hsl(174, 70%, 15%),
	),
	secondary: (
		100: hsl(53, 95%, 90%),
		200: hsl(53, 95%, 75%),
		300: hsl(53, 95%, 50%),
		400: hsl(53, 95%, 35%),
		500: hsl(53, 95%, 25%),
	),
	accent: (
		100: hsl(9, 95%, 90%),
		200: hsl(9, 95%, 75%),
		300: hsl(9, 95%, 50%),
		400: hsl(9, 95%, 35%),
		500: hsl(9, 95%, 25%),
	),
	ui: (
		100: hsl(0, 0%, 95%),
		200: hsl(0, 0%, 75%),
		300: hsl(0, 0%, 65%),
		400: hsl(0, 0%, 45%),
		500: hsl(0, 0%, 25%),
		600: hsl(0, 0%, 5%),
	),
);
